---
import DefaultHomeCard from './DefaultHomeCard.astro'
---

<DefaultHomeCard title="Education" height="auto">
  <div class="flex flex-col gap-4">
    <div>
      <h2 class="text-xl">College of Charleston</h2>
      <p>Bachelor of Science in Computer Science</p>
    </div>
    <div>
      <h2 class="text-xl">Relevant Coursework</h2>
      <p>
        Data Structures & Algorithms, Advanced Algorithms, Discrete Mathematics,
        Database Concepts, Software Engineering, UI/UX Design, Networking,
        Security, Mobile Application Development, Operating Systems, Programming
        Language Concepts
      </p>
    </div>
  </div>
</DefaultHomeCard>
