---
import DefaultHomeCard from './DefaultHomeCard.astro'
---

<DefaultHomeCard title="Experience" height="auto">
  <div class="flex flex-col gap-4">
    <div>
      <h2 class="flex flex-row text-xl">
        Undergraduate Research Assistant -&nbsp<a
          href="https://www.cirdles.org"
          target="_blank"
          rel="noopener noreferrer"
          class="hidden-link"
        >
          CIRDLES
        </a>
      </h2>
      <p></p>
      <ul>
        <li>
          Improved stability of large Java/JavaFX scientific applications
          through debugging and refactoring.
        </li>
        <li>
          Developed JUnit test suites using Test Driven Development, increasing
          reliability in core components.
        </li>
        <li>Collaborated via Git, code reviews, and Agile workflows.</li>
      </ul>
    </div>

    <div>
      <h2 class="text-xl">
        Resident Assistant -
        <a
          href="https://charleston.edu/res-life/"
          target="_blank"
          rel="noopener noreferrer"
          class="hidden-link"
        >
          College of Charleston
        </a>
      </h2>
      <ul>
        <li>
          Managed 50+ residents, resolving issues through communication and
          conflict management.
        </li>
        <li>
          Maintained campus safety through documentation, policy enforcement,
          and incident response.
        </li>
      </ul>
    </div>
  </div>
</DefaultHomeCard>
