---
import DefaultHomeCard from './DefaultHomeCard.astro'
---

<DefaultHomeCard title="Skills" height="auto">
  <div class="flex flex-col gap-4">
    <div>
      <h2 class="text-xl">Programming Languages</h2>
      <ul>
        <li>Java, Python, Dart, JavaScript, Typescript, C, Racket</li>
      </ul>
    </div>
    <div>
      <h2 class="text-xl">Frameworks & Libraries</h2>
      <ul>
        <li>
          Flutter, JavaFX, Jest, React, React Native, Astro, FastAPI, Express,
          PyTorch, Jupyter Notebook, Angular
        </li>
      </ul>
    </div>
    <div>
      <h2 class="text-xl">Tools</h2>
      <ul>
        <li>
          Git, GitBash, Node.js, SceneBuilder, Figma, HTML, CSS, Postman,
          Docker, Docker Compose
        </li>
      </ul>
    </div>
    <div>
      <h2 class="text-xl">Databases</h2>
      <ul>
        <li>PostgreSQL, Firebase, SQLlite</li>
      </ul>
    </div>
    <div>
      <h2 class="text-xl">Core Skills</h2>
      <ul>
        <li>
          Full-Stack Development, Agile Development, REST APIs, Test Driven
          Development, Object Oriented Programming, Software Development Life
          Cycle, Machine Learning, UI/UX Design, Relational Databases
        </li>
      </ul>
    </div>
  </div>
</DefaultHomeCard>
