@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import '@fontsource/amiri/700.css';
@import '@fontsource/amiri/700-italic.css';
@import '@fontsource/nunito/600.css';
@import '@fontsource/nunito/700.css';
@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/500.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light Mode */
  --color-bg: oklch(0.925 0 0);
  --color-light: oklch(0.95 0 0);
  --color-dark: oklch(0.9 0 0);
  --color-font: oklch(0.1 0 0);
  --color-muted: oklch(0.75 0 0);

  /* Typography */
  --font-title: 'Amiri', serif;
  --font-heading: 'Nunito', sans-serif;
  --font-body: 'Montserrat', sans-serif;
}

@layer base {
  :root,
  :host {
    @variant dark {
      /* Dark Mode */
      --color-bg: oklch(0.3 0 0);
      --color-light: oklch(0.35 0 0);
      --color-dark: oklch(0.25 0 0);
      --color-font: oklch(0.86 0 262.065);
      --color-muted: oklch(0.65 0 262.065);
    }
  }

  h1 {
    font-family: var(--font-title);
  }

  h2,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  ul {
    @apply list-disc ml-4;
  }

  body {
    background-color: var(--color-dark);
    color: var(--color-font);
    font-family: var(--font-body);
  }
}

.link {
  @apply underline text-muted hover:text-font;
}

.hidden-link {
  @apply hover:underline hover:text-muted text-font;
}

@utility enlarge-* {
  transition: transform 0.15s ease-in-out;
  &:hover {
    transform: scale(calc(--value(integer) / 100));
  }
}
