@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "@fontsource/amiri/700.css";
@import "@fontsource/amiri/700-italic.css";
@import "@fontsource/nunito/600.css";
@import "@fontsource/nunito/700.css";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";

@theme {
  /* Color Scheme */
  --primary-color: #242424;
  --secondary-color: #000000;
  --background-color: #f5f5f5;
  --font-primary-color: #f5f5f5;
  --font-secondary-color: #242424;

  /* Typography */
  --font-title: "Amiri", serif;
  --font-heading: "Nunito", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

@layer base {
  h1 {
    font-family: var(--font-title);
  }

  h2,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  body {
    font-family: var(--font-body);
    background-color: var(--background-color);
  }
}
