---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout title="Blog">
  <div class="w-full flex justify-center m-8">
    <iframe
      src="https://jalenevans.substack.com/embed"
      class="w-full max-w-4xl h-screen border-none rounded-lg"
      title="Substack Blog"
    />
  </div>
</MainLayout>
