---
import DefaultHomeCard from './DefaultHomeCard.astro'
---

<DefaultHomeCard title="Leadership & Service" height="auto">
  <div class="flex flex-col gap-4">
    <div>
      <h2 class="flex flex-row text-xl">
        President,&nbsp<a
          href="https://www.instagram.com/cofcbsu/"
          target="_blank"
          rel="noopener noreferrer"
          class="hidden-link"
        >
          College of Charleston Black Student Union
        </a>
      </h2>
      <ul>
        <li>
          Lead 18-member board; coordinate 18+ events annually reaching 200-400
          students.
        </li>
        <li>
          Represent organization at conferences and cross-department
          collaborations.
        </li>
      </ul>
    </div>
    <div>
      <h2 class="flex flex-row text-xl">
        Member,&nbsp<a
          href="https://coming-street-commons.charleston.edu/community-engagement-council/"
          target="_blank"
          rel="noopener noreferrer"
          class="hidden-link"
        >
          Community Engagement Council
        </a>
      </h2>
      <ul>
        <li>
          Featured on <a
            href="https://www.live5news.com/2025/11/13/cofc-hosts-community-engagement-council-meeting-controversial-housing-project/"
            target="_blank"
            rel="noopener noreferrer"
            class="hidden-link underline">Live 5 News</a
          > discussing a way to honor the legacy of 106 Coming St. with respect and
          integrity.
        </li>
        <li>
          Collaborate with 20 members to brainstorm creative ways to resolve
          complex issues.
        </li>
      </ul>
    </div>
  </div>
</DefaultHomeCard>
