---
import Hero from '../components/Hero.astro'
import EducationHomeCard from '../components/HomeCards/EducationHomeCard.astro'
import ExperienceHomeCard from '../components/HomeCards/ExperienceHomeCard.astro'
import LeadershipHomeCard from '../components/HomeCards/LeadershipHomeCard.astro'
import SkillsHomeCard from '../components/HomeCards/SkillsHomeCard.astro'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout>
  <Hero />
  <div class="flex flex-col gap-5 ml-8 mr-8 mb-4">
    <EducationHomeCard />
    <ExperienceHomeCard />
    <LeadershipHomeCard />
    <SkillsHomeCard />
  </div>
</MainLayout>
