---
import { getCollection, type CollectionEntry } from 'astro:content'
import MainLayout from '../../layouts/MainLayout.astro'
import SearchBar from '../../components/SearchBar.astro'
import BlogCard from '../../components/BlogCard.astro'

const allPosts = (await getCollection('blog')).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)

let allTags: string[] = []
allPosts.forEach((post) => allTags.push(...post.data.tags))
---

<MainLayout title="My Blog">
  <section class="flex justify-center">
    <SearchBar elementClass="post-card" />
  </section>
  <section class="flex flex-col items-center">
    {
      allPosts.map((post) => (
        <div
          data-title={post.data.title.toLocaleLowerCase()}
          class="post-card h-30"
        >
          <BlogCard title={post.data.title} />
        </div>
      ))
    }
  </section>
</MainLayout>
