---
import { getCollection, type CollectionEntry } from 'astro:content'
import MainLayout from '../../layouts/MainLayout.astro'
import SearchBar from '../../components/SearchBar.astro'
import BlogCard from '../../components/BlogCard.astro'

const allPosts = (await getCollection('blog')).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)

let allTags: string[] = []
allPosts.forEach((post) => allTags.push(...post.data.tags))
---

<MainLayout title="My Blog">
  <div class="lg:ml-50 lg:mr-50">
    <section class="flex justify-center">
      <SearchBar elementClass="post-card" />
    </section>
    <section class="flex flex-col gap-5 ml-16 mr-16 mb-4">
      {
        allPosts.map((post) => (
          <div
            data-title={post.data.title.toLocaleLowerCase()}
            class="post-card"
          >
            <BlogCard id={post.data.id} />
          </div>
        ))
      }
    </section>
  </div>
</MainLayout>
