---
import MainLayout from '../../layouts/MainLayout.astro'
import ProjectCard from '../../components/ProjectCard.astro'
import { getCollection, type CollectionEntry } from 'astro:content'
import SearchBar from '../../components/SearchBar.astro'

const allProjects = (await getCollection('project')).sort(
  (a: CollectionEntry<'project'>, b: CollectionEntry<'project'>) =>
    b.data.startDate.valueOf() - a.data.startDate.valueOf(),
)
---

<MainLayout title="Projects">
  <section class="flex justify-center lg:ml-50 lg:mr-50">
    <SearchBar elementClass="post-card" />
  </section>
  <section
    class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-8 justify-center m-8"
  >
    {
      allProjects.map((post) => (
        <div
          data-title={post.data.title.toLocaleLowerCase()}
          data-tags={post.data.tags}
          class="post-card"
        >
          <ProjectCard id={post.data.id} />
        </div>
      ))
    }
  </section>
</MainLayout>
