---
import SocialMediaIcon from "./SocialMediaIcon.astro";
import LinkedInLogo from "../assets/LinkedIn_Logo.svg?raw";
import GithubLogo from "../assets/GitHub_Invertocat_Black.svg?raw";
import GmailLogo from "../assets/gmail.svg?raw";
---
<div class="relative bottom-0 w-full flex flex-col items-center gap-2 p-4 h-45 bg-bg text-font">
    <footer class="">Contact Me</footer>
    <div class="flex flex-row gap-3">
        <SocialMediaIcon link="https://www.linkedin.com/in/je319" rawPath={LinkedInLogo} hoverColor="#0A66C2"/>
        <SocialMediaIcon link="https://www.github.com/JalenEvans" rawPath={GithubLogo} hoverColor="#646262"/>
        <SocialMediaIcon link="mailto:jalenemmanuelevans@gmail.com" rawPath={GmailLogo} hoverColor="#EA4335"/>
    </div>
</div>