---
import SocialMediaIcon from './SocialMediaIcon.astro'
import LinkedInLogo from '../assets/Logos/LinkedInLogo.svg?raw'
import GithubLogo from '../assets/Logos/GithubLogo.svg?raw'
import GmailLogo from '../assets/Logos/GmailLogo.svg?raw'
import ThemeToggle from './ThemeToggle.astro'
---

<div
  class="relative bottom-0 w-full flex flex-col items-center gap-8 p-4 h-45 bg-bg text-font"
>
  <div class="flex flex-col items-center gap-2">
    <footer class="">Contact Me</footer>
    <div class="flex flex-row gap-3">
      <SocialMediaIcon
        title="LinkedIn"
        link="https://www.linkedin.com/in/je319"
        rawPath={LinkedInLogo}
        hoverColor="#0A66C2"
      />
      <SocialMediaIcon
        title="Github"
        link="https://www.github.com/JalenEvans"
        rawPath={GithubLogo}
        hoverColor="#646262"
      />
      <SocialMediaIcon
        title="Gmail"
        link="mailto:jalenemmanuelevans@gmail.com"
        rawPath={GmailLogo}
        hoverColor="#EA4335"
      />
    </div>
  </div>
  <ThemeToggle />
</div>
