---
import Image from 'astro/components/Image.astro'
import MainLayout from '../layouts/MainLayout.astro'
---

{
  /*
This the Home Page of the website
 */
}
<div class="flex flex-row gap-10 justify-center items-center h-170 text-font">
  <div class="bg-green-600 w-100 h-100 rounded-full"></div>
  <div class="justify-items-center">
    <h1 class="text-4xl">Welcome to my Website!</h1>
    <p>A portfolio site for Jalen Evans</p>
  </div>
</div>
