---
import MainLayout from '../layouts/MainLayout.astro'
---

{
  /*
This the Home Page of the website
 */
}
<div class="flex flex-col justify-center items-center h-170 text-font">
  <div class="justify-items-center md:enlarge-130">
    <h1 class="text-4xl">Welcome to my Website!</h1>
    <p>A portfolio site for Jalen Evans</p>
  </div>
</div>
