---
---
<nav class="flex justify-between items-baseline p-6 bg-(--primary-color) text-(--font-primary-color)">
    <a href="/" class="text-3xl">Jalen Evans</a>
    <div class="font-heading space-x-5 text-md">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </div>
</nav>