---
import Logo from '../assets/Logos/PersonalLogo.svg'

const pathname = Astro.url.pathname

const getCurrPath = () => {
  if (pathname == '/') {
    return 'Home'
  } else {
    const paths = pathname.split('/')
    let currPath = paths[paths.length - 1]
    if (currPath == 'loo-cator') return 'Loo-cator'
    let words = currPath
      .split('-')
      .map((word) => word.charAt(0).toLocaleUpperCase() + word.substring(1))
    currPath = words.join(' ')
    return currPath
  }
}
---

<nav
  class="sticky top-0 w-full z-10 flex items-center p-6 pl-8 pr-8 bg-light text-font shadow-xl"
>
  <div class="flex flex-1">
    <a
      href="/"
      class="flex flex-row justify-start items-center gap-4 text-3xl enlarge-110"
    >
      <Logo width={40} height={40} />
      <h1 class="hidden md:block">Jalen Evans</h1>
    </a>
  </div>
  <span class="hidden md:block">{getCurrPath}</span>
  <div
    class="flex flex-1 justify-end items-center font-heading space-x-5 text-md text-font"
  >
    <a class="inline-block hover:underline enlarge-110" href="/">Home</a>
    <a class="inline-block hover:underline enlarge-110" href="/about">About</a>
    <a class="inline-block hover:underline enlarge-110" href="/blog">Blog</a>
    <a class="inline-block hover:underline enlarge-110" href="/project"
      >Projects</a
    >
  </div>
</nav>
