---
import NewsletterDialog from './NewsletterDialog.astro'

interface Props {
  elementClass: string
  tags?: boolean
}

const { elementClass, tags } = Astro.props
---

<div class="w-full flex justify-center items-center m-8 mt-2">
  <input
    type="text"
    id="search-bar"
    placeholder="Search posts..."
    class="w-full m-4 p-2 bg-bg hover:bg-light focus:bg-light border rounded-lg"
  />
  <NewsletterDialog />
</div>

<script is:inline define:vars={{ elementClass }}>
  window.addEventListener('DOMContentLoaded', () => {
    const searchBar = document.getElementById('search-bar')
    const elements = document.querySelectorAll(`.${elementClass}`)

    searchBar.addEventListener('input', (e) => {
      const query = e.target.value.toLowerCase()

      elements.forEach((elem) => {
        const title = elem.getAttribute('data-title')

        if (title.includes(query)) {
          elem.style.display = 'block'
        } else {
          elem.style.display = 'none'
        }
      })
    })
  })
</script>
