---
import Sun from '../assets/ThemeToggle/sun.svg?raw'
import Moon from '../assets/ThemeToggle/moon.svg?raw'
---

<button
  id="theme-toggle"
  class="flex flex-row items-center gap-2 p-2 border-2 rounded-xl enlarge-110"
>
  <h3>Change Theme</h3>
  <span class="block w-6 h-6 dark:hidden">
    <Fragment set:html={Sun} />
  </span>
  <span class="hidden w-6 h-6 dark:block">
    <Fragment set:html={Moon} />
  </span>
</button>

<script>
  const themeToggle = document.getElementById('theme-toggle')

  themeToggle?.addEventListener('click', () => {
    const element = document.documentElement
    element.classList.toggle('dark')

    const isDark = element.classList.contains('dark')
    localStorage.setItem('theme', isDark ? 'dark' : 'light')
  })
</script>

<style>
  #theme-toggle :global(svg) {
    width: 100%;
    height: 100%;
  }
</style>
